<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>검색한 회원 리스트</title>

    <style>
        table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>

<div th:if="${users != null}">

    <main>
        <div class="container2 mt-3 bg-body-tertiary">
            <h1 style="text-align:center;">아이디 중 "<span th:text="${searchId}">검색어</span>" 을(를) 포함하는 검색 결과입니다.</h1>

        </div>

        <table class="table" style=" margin-left: 10%; margin-right: 10%;">
            <thead>
            <tr>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">닉네임</th>
                <th scope="col">선택</th>
            </tr>
            </thead>
            <tbody>
            <!-- 세분화 필요-->
            <div th:each="user:${users}" >
                <tr>
                    <td th:text="${user.userID}">admin</td>
                    <td th:text="${user.username}">관리자</td>
                    <td th:text="${user.nickname}">주인</td>
                    <td>
                        <button type="button" class="btn btn-primary"
                                th:onclick="|location.href='@{/user/selectUser(userId=${user.userID})}'|">선택
                        </button>
                    </td>

                </tr>
            </div>
            </tbody>
        </table>


    </main>

</div>
<div th:unless="${users != null}">
    <h1>"<span th:text="${searchId}">검색어</span>" 검색 결과가 없습니다.</h1>
</div>


</body>
</html>